@import 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700';
.grid:after {
  content: "";
  display: table;
  clear: both; }

.centered, .grid {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.right {
  text-align: right; }

* {
  box-sizing: border-box; }

.logo {
  padding-top: 1.875em;
  display: block;
  width: 9.375em;
  margin: auto; }

.hamburger {
  font-size: 2.1875em;
  color: #797e83;
  cursor: pointer; }

.container {
  width: 75%;
  margin: auto; }

footer {
  text-align: center;
  border-top: 1px solid #ebecec; }
  footer p {
    font-size: 1em;
    margin-top: 1.375em !important; }

.grid {
  margin-bottom: 3.75em; }
  @media (min-width: 1100px) {
    .grid {
      max-width: 1050px; } }

@media (min-width: 769px) {
  .col-1 {
    width: 6.5%; }
  .col-2 {
    width: 15%; }
  .col-3 {
    width: 23.5%; }
  .col-4 {
    width: 32%; }
  .col-5 {
    width: 40.5%; }
  .col-6 {
    width: 49%; }
  .col-7 {
    width: 57.5%; }
  .col-8 {
    width: 66%; }
  .col-9 {
    width: 74.5%; }
  .col-10 {
    width: 83%; }
  .col-11 {
    width: 91.5%; }
  .col-12 {
    width: 100%; } }

@media (min-width: 1px) and (max-width: 768px) {
  [class^="col-"] {
    margin: 0.75em 0; } }

@media (min-width: 769px) {
  [class^="col-"] {
    float: left;
    padding: 0 10px;
    margin: 0.75em 0; }
    [class^="col-"] + [class^="col-"] {
      margin-left: 2%; } }

.theme_poly .col-12 {
  background: #DEF4E5;
  font-weight: 100;
  color: #999da1;
  padding: 1.25em 0.625em; }

.theme_poly .col-8 {
  background: #DCE0F2;
  font-weight: 100;
  color: #999da1;
  padding: 1.25em 0.625em; }

.theme_poly .col-7 {
  background: #DCF0EF;
  font-weight: 100;
  color: #999da1;
  padding: 1.25em 0.625em; }

.theme_poly .col-6 {
  background: #FFE3DB;
  font-weight: 100;
  color: #999da1;
  padding: 1.25em 0.625em; }

.theme_poly .col-4 {
  background: #F8EDD0;
  font-weight: 100;
  color: #999da1;
  padding: 1.25em 0.625em; }

.theme_poly .col-5 {
  background: #EAEBEC;
  font-weight: 100;
  color: #999da1;
  padding: 1.25em 0.625em; }

.theme_poly .col-2 {
  background: #C5E2CE;
  font-weight: 100;
  color: #999da1;
  padding: 1.25em 0.625em; }

.theme_poly .col-3 {
  background: #D6EEF5;
  font-weight: 100;
  color: #999da1;
  padding: 1.25em 0.625em; }

.menu_item a, .menu_item-active a {
  color: #797e83;
  font-size: 1.125em;
  font-weight: 300;
  padding: 0.44444em;
  text-decoration: none; }

.menu_item, .menu_item-active {
  display: inline-block;
  margin: 0 0.75em; }
  @media (min-width: 1px) and (max-width: 768px) {
    .menu_item, .menu_item-active {
      display: block;
      padding: 0.875em;
      border-bottom: 1px solid white;
      background: #ebecec;
      border-radius: 4px; } }

.menu {
  text-align: center;
  margin: 3.375em 0;
  padding: 0; }
  .menu_item a:hover {
    border-bottom: 1px solid #52bab3;
    color: black; }
  .menu_item-active a {
    border-bottom: 1px solid #52bab3; }
    .menu_item-active a:hover {
      color: black; }

body {
  font-family: Lato, Helevetica, Arial, sans-serif; }

h3 {
  margin-top: 1.375em;
  margin-bottom: 2.57143em;
  color: #d6d7d9;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.875em; }

h1 {
  font-weight: 300;
  font-size: 2.625em;
  color: #525559; }

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  color: #999da1; }

p {
  font-size: 1.125em;
  line-height: 1.5;
  font-weight: 300;
  color: #797e83; }

blockquote {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 300;
  margin: 1.33333em 0;
  padding: 0 0 0 5%;
  color: #797e83;
  border-left: solid 0.33333em #ebecec; }

a {
  color: #52bab3;
  text-decoration: none; }
  a:hover {
    color: #39add1; }

img {
  max-width: 100%;
  margin-bottom: 1.5em; }

.img-wrap {
  border: 1px solid #d6d7d9;
  padding: 0.75em; }

.img-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%; }

@media (min-width: 769px) {
  .img-hero {
    margin-bottom: 2.625em; } }

.teal {
  background: #52bab3; }

.green {
  background: #5ece7f; }

.red {
  background: #e67478; }

.orange {
  background: #ff784f; }

.purple {
  background: #9279c3; }

.blue {
  background: #39add1; }

button {
  outline: 0;
  padding: 15px 30px;
  border: 0;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 400;
  transition: opacity 0.3s;
  display: inline-block;
  text-align: center;
  margin-bottom: 1.42857em; }
  button:hover {
    opacity: .75; }
  button:active {
    opacity: initial; }
  @media (min-width: 1px) and (max-width: 768px) {
    button {
      width: 100%; } }
  @media (min-width: 769px) {
    button {
      margin-right: 20px;
      width: auto;
      display: inline-block; } }

.teal {
  background: #52bab3; }

.green {
  background: #5ece7f; }

.red {
  background: #e67478; }

.orange {
  background: #ff784f; }

.purple {
  background: #9279c3; }

.blue {
  background: #39add1; }

input,
textarea {
  display: block;
  padding: 15px;
  width: 100%;
  outline: 0;
  border: 0; }

input:focus,
textarea:focus {
  transition: 0.3s; }

.form_input {
  width: 100%;
  font-size: 1em;
  padding: 0.9375em;
  margin-bottom: 1.25em;
  border-bottom: 6px solid #d6d7d9;
  border-radius: 4px;
  background: #ebecec;
  color: black;
  font-weight: 300; }
  .form_input:focus {
    border-color: #52bab3; }

.teal-range {
  margin: 1.25em 0;
  -webkit-appearance: none;
  width: 100%;
  background: transparent; }
  .teal-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #76c9c3;
    margin-top: -6px; }
  .teal-range:focus {
    outline: none; }
  .teal-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #52bab3;
    border-radius: 3px; }

.green-range {
  margin: 1.25em 0;
  -webkit-appearance: none;
  width: 100%;
  background: transparent; }
  .green-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #85da9e;
    margin-top: -6px; }
  .green-range:focus {
    outline: none; }
  .green-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #5ece7f;
    border-radius: 3px; }

.red-range {
  margin: 1.25em 0;
  -webkit-appearance: none;
  width: 100%;
  background: transparent; }
  .red-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #ee9fa2;
    margin-top: -6px; }
  .red-range:focus {
    outline: none; }
  .red-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #e67478;
    border-radius: 3px; }

.orange-range {
  margin: 1.25em 0;
  -webkit-appearance: none;
  width: 100%;
  background: transparent; }
  .orange-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #ff9f82;
    margin-top: -6px; }
  .orange-range:focus {
    outline: none; }
  .orange-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ff784f;
    border-radius: 3px; }

.purple-range {
  margin: 1.25em 0;
  -webkit-appearance: none;
  width: 100%;
  background: transparent; }
  .purple-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #af9cd3;
    margin-top: -6px; }
  .purple-range:focus {
    outline: none; }
  .purple-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #9279c3;
    border-radius: 3px; }

.blue-range {
  margin: 1.25em 0;
  -webkit-appearance: none;
  width: 100%;
  background: transparent; }
  .blue-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #62bedb;
    margin-top: -6px; }
  .blue-range:focus {
    outline: none; }
  .blue-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #39add1;
    border-radius: 3px; }
